{{>licenseInfo}}
package {{package}};

{{#imports}}
    import {{import}};
{{/imports}}

import org.springframework.web.bind.annotation.*;
import org.springframework.http.*;
import com.example.demo.service.APIService;
import org.springframework.stereotype.*;
import org.springframework.beans.factory.annotation.*;

{{^fullJavaUtil}}
    import java.util.ArrayList;
    import java.util.HashMap;
    import java.util.List;
    import java.util.Map;
{{/fullJavaUtil}}

@RestController
public class APIController {

    @Autowired
    public APIService service;

    public APIController(APIService service){
    this.service = service;
    }

    {{#operations}}
        @{{#httpMethod}}{{{httpMethod}}}("{{#path}}{{{path}}}{{/path}}"){{/httpMethod}}
        public {{#returnType}}ResponseEntity<{{{returnType}}}> {{/returnType}}{{^returnType}}void {{/returnType}}{{operationId}}({{#bodyParam}}@RequestBody {{/bodyParam}}{{#allParams}}{{{dataType}}} {{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}}) {
            {{#returnType}}{{{returnType}}} obj = {{/returnType}} service.{{operationId}}({{#allParams}}{{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}});
            {{#returnType}} return new ResponseEntity(obj, HttpStatus.OK); {{/returnType}}
        }

    {{/operations}}
}