{{>licenseInfo}}
package {{package}};

{{#imports}}
    import {{import}};
{{/imports}}

import org.springframework.stereotype.*;
import org.springframework.web.client.RestTemplate;
import org.springframework.web.util.UriComponentsBuilder;
import org.springframework.http.*;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.net.URI;
import org.springframework.jms.core.JmsTemplate;
import org.springframework.jms.JmsException;
import org.springframework.beans.factory.annotation.Autowired;

@Component
public class MQClient {

    @Autowired
    private JmsTemplate jmsTemplate;

    public String send(String payload){
        try{
            jmsTemplate.convertAndSend("DEV.QUEUE.1", payload);
            return "Data Sent";
        } catch(JmsException ex){
            ex.printStackTrace();
            return "FAIL";
        }
    }
}
