{{>licenseInfo}}
package {{package}};

{{#imports}}
    import {{import}};
{{/imports}}

import org.springframework.stereotype.*;
import org.springframework.http.*;
import org.springframework.jms.core.JmsTemplate;
import org.springframework.jms.JmsException;
import org.springframework.beans.factory.annotation.Autowired;

@Component
public class MQClient {

    @Autowired
    private JmsTemplate jmsTemplate;

    public String receive(){
        try{
            return jmsTemplate.receiveAndConvert("DEV.QUEUE.1");
        } catch(JmsException ex){
            ex.printStackTrace();
            return "FAIL";
        }
    }
}
