{{>licenseInfo}}
package {{package}};

{{#imports}}
    import {{import}};
{{/imports}}

import org.springframework.web.bind.annotation.*;
import org.springframework.beans.factory.annotation.*;

{{^fullJavaUtil}}
    import java.util.ArrayList;
    import java.util.HashMap;
    import java.util.List;
    import java.util.Map;
{{/fullJavaUtil}}

@Service
public class APIService {

    @Autowired
    public APIClient client;

    public APIService(APIClient client){
        this.client = client;
    }

    {{#operations}}
        public {{#returnType}} {{{returnType}}} {{/returnType}}{{^returnType}} void {{/returnType}}{{operationId}}({{#allParams}}{{{dataType}}} {{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}}) {
            {{#returnType}}return{{/returnType}} client.{{operationId}}({{#allParams}}{{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}});
        }
    {{/operations}}
}